flows_with_database.json
[
    {
        "id": "739bcde6ba837444",
        "type": "tab",
        "label": "Aquarium + SQLite DB",
        "disabled": false,
        "info": "",
        "env": []
    },

    {
        "id": "sqlite_db_node",
        "type": "sqlite",
        "z": "739bcde6ba837444",
        "mydb": "/data/aquarium.db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Aquarium DB",
        "x": 900,
        "y": 60,
        "wires": [[]]
    },

    {
        "id": "inject_init_db",
        "type": "inject",
        "z": "739bcde6ba837444",
        "name": "Init DB on start",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 60,
        "wires": [["fn_init_db"]]
    },
    {
        "id": "fn_init_db",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Create Tables",
        "func": "// Create all three tables if they don't exist yet\nmsg.topic = `\n  CREATE TABLE IF NOT EXISTS sensor_readings (\n    id        INTEGER PRIMARY KEY AUTOINCREMENT,\n    ts        DATETIME DEFAULT CURRENT_TIMESTAMP,\n    temp      REAL,\n    tds       REAL,\n    turbidity REAL,\n    species   TEXT\n  );\n  CREATE TABLE IF NOT EXISTS actuator_history (\n    id        INTEGER PRIMARY KEY AUTOINCREMENT,\n    ts        DATETIME DEFAULT CURRENT_TIMESTAMP,\n    heat      INTEGER,\n    filter    INTEGER,\n    air       INTEGER,\n    species   TEXT\n  );\n  CREATE TABLE IF NOT EXISTS system_alerts (\n    id        INTEGER PRIMARY KEY AUTOINCREMENT,\n    ts        DATETIME DEFAULT CURRENT_TIMESTAMP,\n    level     TEXT,\n    message   TEXT,\n    species   TEXT\n  );\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 60,
        "wires": [["sqlite_db_node"]]
    },

    {
        "id": "d2088caf85cf3d79",
        "type": "http in",
        "z": "739bcde6ba837444",
        "name": "",
        "url": "/update-water",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 180,
        "wires": [["c631691d85d686df", "78eff8af69f3cb99"]]
    },
    {
        "id": "78eff8af69f3cb99",
        "type": "debug",
        "z": "739bcde6ba837444",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 140,
        "wires": []
    },
    {
        "id": "c631691d85d686df",
        "type": "json",
        "z": "739bcde6ba837444",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 180,
        "wires": [["fn_save_sensor"]]
    },
    {
        "id": "fn_save_sensor",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Store Sensors + Check Alerts",
        "func": "// --- 1. Save sensor data to memory (existing behaviour) ---\nglobal.set('sensorData', msg.payload);\n\nconst d = msg.payload;\nconst species = flow.get('selectedFish') || 'tilapia';\n\n// --- 2. Save to SQLite ---\nmsg.topic = `INSERT INTO sensor_readings (temp, tds, turbidity, species)\n  VALUES (${parseFloat(d.temp)||0}, ${parseFloat(d.tds)||0}, ${parseFloat(d.turbidity)||0}, '${species}');`;\n\n// --- 3. Alert thresholds per species ---\nconst thresholds = {\n  tilapia:    { tempMin:20, tempMax:32, tdsMax:600, turbMax:150 },\n  pangasius:  { tempMin:22, tempMax:30, tdsMax:500, turbMax:200 },\n  zebra_fish: { tempMin:20, tempMax:28, tdsMax:400, turbMax:100 }\n};\nconst thr = thresholds[species] || thresholds.tilapia;\nconst alerts = [];\n\nif (d.temp < thr.tempMin) alerts.push({ level:'WARNING', message:`Temperature too low: ${d.temp.toFixed(1)}°C (min ${thr.tempMin}°C)` });\nif (d.temp > thr.tempMax) alerts.push({ level:'CRITICAL', message:`Temperature too high: ${d.temp.toFixed(1)}°C (max ${thr.tempMax}°C)` });\nif (d.tds  > thr.tdsMax)  alerts.push({ level:'WARNING', message:`TDS too high: ${Math.round(d.tds)}ppm (max ${thr.tdsMax}ppm)` });\nif (d.turbidity > thr.turbMax) alerts.push({ level:'CRITICAL', message:`Turbidity critical: ${d.turbidity.toFixed(1)}NTU (max ${thr.turbMax}NTU)` });\n\n// Store pending alerts so the follow-up function can write them after the sensor insert\nflow.set('pendingAlerts', alerts.map(a => ({\n  topic: `INSERT INTO system_alerts (level, message, species) VALUES ('${a.level}','${a.message.replace(/'/g,\"''\")}','${species}');`\n})));\n\n// Build response immediately so the ESP32 doesn't time out\nconst actuatorState = global.get('actuatorState') || { heat: false, filter: false, air: false };\nmsg.res_payload = { heat: actuatorState.heat, filter: actuatorState.filter, air: actuatorState.air };\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 180,
        "wires": [["sqlite_write_sensor"]]
    },
    {
        "id": "sqlite_write_sensor",
        "type": "sqlite",
        "z": "739bcde6ba837444",
        "mydb": "/data/aquarium.db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Write Sensor Reading",
        "x": 820,
        "y": 180,
        "wires": [["fn_write_alerts", "fn_respond_esp"]]
    },
    {
        "id": "fn_write_alerts",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Write Pending Alerts",
        "func": "const pending = flow.get('pendingAlerts') || [];\nif (pending.length === 0) return null;\n// Send them one at a time by returning an array of messages\nreturn [pending[0]];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 160,
        "wires": [["sqlite_write_alert"]]
    },
    {
        "id": "sqlite_write_alert",
        "type": "sqlite",
        "z": "739bcde6ba837444",
        "mydb": "/data/aquarium.db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Write Alert",
        "x": 1260,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "fn_respond_esp",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Build ESP32 Response",
        "func": "const actuatorState = global.get('actuatorState') || { heat: false, filter: false, air: false };\nmsg.payload = { heat: actuatorState.heat, filter: actuatorState.filter, air: actuatorState.air };\nmsg.statusCode = 200;\nmsg.headers = { 'Content-Type': 'application/json', 'Access-Control-Allow-Origin': '*' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 200,
        "wires": [["http_resp_esp"]]
    },
    {
        "id": "http_resp_esp",
        "type": "http response",
        "z": "739bcde6ba837444",
        "name": "Respond to ESP32",
        "statusCode": "",
        "headers": {},
        "x": 1270,
        "y": 200,
        "wires": []
    },

    {
        "id": "f29ec8601253a1fd",
        "type": "http in",
        "z": "739bcde6ba837444",
        "name": "",
        "url": "/get-data",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 300,
        "wires": [["a4ee6c51198e544a"]]
    },
    {
        "id": "a4ee6c51198e544a",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Build /get-data Response",
        "func": "let rawSensors = global.get('sensorData') || {};\nlet sensorData = (typeof rawSensors === 'string') ? JSON.parse(rawSensors) : rawSensors;\nlet aiData = flow.get('aiData') || { detected_species:'Waiting...', count:0, avg_size:'0cm' };\nlet selectedFish = flow.get('selectedFish') || 'tilapia';\nconst actuatorState = global.get('actuatorState') || { heat:false, filter:false, air:false };\n\nconst fishSettings = {\n  tilapia:    { temp:28, tds:600 },\n  pangasius:  { temp:26, tds:400 },\n  zebra_fish: { temp:24, tds:200 }\n};\n\nmsg.payload = {\n  sensors: {\n    temp:      parseFloat(sensorData.temp)      || 0,\n    tds:       parseFloat(sensorData.tds)       || 0,\n    turbidity: parseFloat(sensorData.turbidity) || 0\n  },\n  actuators: actuatorState,\n  ai: aiData,\n  settings: fishSettings[selectedFish]\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 300,
        "wires": [["0cba21f4f993a7c2"]]
    },
    {
        "id": "0cba21f4f993a7c2",
        "type": "change",
        "z": "739bcde6ba837444",
        "name": "Set CORS",
        "rules": [{"t":"set","p":"headers","pt":"msg","to":"{\"Access-Control-Allow-Origin\":\"*\",\"Content-Type\":\"application/json\"}","tot":"json"}],
        "action": "", "property": "", "from": "", "to": "", "reg": false,
        "x": 610,
        "y": 300,
        "wires": [["7631b350b1d7a99c"]]
    },
    {
        "id": "7631b350b1d7a99c",
        "type": "http response",
        "z": "739bcde6ba837444",
        "name": "HTTP Response",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 300,
        "wires": []
    },

    {
        "id": "96159348d7bed6b2",
        "type": "http in",
        "z": "739bcde6ba837444",
        "name": "",
        "url": "/set-fish",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 360,
        "wires": [["ad0f15fdb777896a"]]
    },
    {
        "id": "ad0f15fdb777896a",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Set Fish Species",
        "func": "flow.set('selectedFish', msg.req.query.type || 'tilapia');\nmsg.payload = { status:'ok', species: flow.get('selectedFish') };\nmsg.headers = { 'Access-Control-Allow-Origin':'*', 'Content-Type':'application/json' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [["resp_set_fish"]]
    },
    {
        "id": "resp_set_fish",
        "type": "http response",
        "z": "739bcde6ba837444",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 580,
        "y": 360,
        "wires": []
    },

    {
        "id": "6a442fa6cfe90437",
        "type": "http in",
        "z": "739bcde6ba837444",
        "name": "",
        "url": "/set-actuators",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 420,
        "wires": [["fn_parse_actuators"]]
    },
    {
        "id": "fn_parse_actuators",
        "type": "json",
        "z": "739bcde6ba837444",
        "name": "Parse Actuator JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 370,
        "y": 420,
        "wires": [["fn_save_actuators"]]
    },
    {
        "id": "fn_save_actuators",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Save Actuator States",
        "func": "const d = msg.payload;\nglobal.set('actuatorState', d);\nconst species = flow.get('selectedFish') || 'tilapia';\n\nmsg.topic = `INSERT INTO actuator_history (heat, filter, air, species)\n  VALUES (${d.heat?1:0}, ${d.filter?1:0}, ${d.air?1:0}, '${species}');`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 420,
        "wires": [["sqlite_write_act"]]
    },
    {
        "id": "sqlite_write_act",
        "type": "sqlite",
        "z": "739bcde6ba837444",
        "mydb": "/data/aquarium.db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Write Actuator Row",
        "x": 810,
        "y": 420,
        "wires": [["fn_actuator_resp"]]
    },
    {
        "id": "fn_actuator_resp",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Actuator Response",
        "func": "msg.payload = { status:'success' };\nmsg.headers = { 'Access-Control-Allow-Origin':'*', 'Content-Type':'application/json' };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 420,
        "wires": [["resp_actuators"]]
    },
    {
        "id": "resp_actuators",
        "type": "http response",
        "z": "739bcde6ba837444",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1200,
        "y": 420,
        "wires": []
    },

    {
        "id": "http_get_history",
        "type": "http in",
        "z": "739bcde6ba837444",
        "name": "",
        "url": "/get-history",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 500,
        "wires": [["fn_query_history"]]
    },
    {
        "id": "fn_query_history",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Query History",
        "func": "// ?range=1h|6h|24h|7d — defaults to 1h\nconst range = (msg.req.query.range || '1h');\nconst intervals = { '1h':'1 hour', '6h':'6 hours', '24h':'24 hours', '7d':'7 days' };\nconst since = intervals[range] || '1 hour';\n\nmsg.topic = `\n  SELECT ts, temp, tds, turbidity, species\n  FROM sensor_readings\n  WHERE ts >= datetime('now', '-${since}')\n  ORDER BY ts ASC\n  LIMIT 500;\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [["sqlite_read_history"]]
    },
    {
        "id": "sqlite_read_history",
        "type": "sqlite",
        "z": "739bcde6ba837444",
        "mydb": "/data/aquarium.db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Read History",
        "x": 580,
        "y": 500,
        "wires": [["fn_format_history"]]
    },
    {
        "id": "fn_format_history",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Format History Response",
        "func": "msg.headers = { 'Access-Control-Allow-Origin':'*', 'Content-Type':'application/json' };\nmsg.payload = msg.payload || [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 500,
        "wires": [["resp_history"]]
    },
    {
        "id": "resp_history",
        "type": "http response",
        "z": "739bcde6ba837444",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 990,
        "y": 500,
        "wires": []
    },

    {
        "id": "http_get_alerts",
        "type": "http in",
        "z": "739bcde6ba837444",
        "name": "",
        "url": "/get-alerts",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 560,
        "wires": [["fn_query_alerts"]]
    },
    {
        "id": "fn_query_alerts",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Query Alerts",
        "func": "msg.topic = `\n  SELECT id, ts, level, message, species\n  FROM system_alerts\n  ORDER BY ts DESC\n  LIMIT 50;\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 560,
        "wires": [["sqlite_read_alerts"]]
    },
    {
        "id": "sqlite_read_alerts",
        "type": "sqlite",
        "z": "739bcde6ba837444",
        "mydb": "/data/aquarium.db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Read Alerts",
        "x": 560,
        "y": 560,
        "wires": [["fn_format_alerts"]]
    },
    {
        "id": "fn_format_alerts",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Format Alerts Response",
        "func": "msg.headers = { 'Access-Control-Allow-Origin':'*', 'Content-Type':'application/json' };\nmsg.payload = msg.payload || [];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 560,
        "wires": [["resp_alerts"]]
    },
    {
        "id": "resp_alerts",
        "type": "http response",
        "z": "739bcde6ba837444",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 960,
        "y": 560,
        "wires": []
    },

    {
        "id": "http_export_csv",
        "type": "http in",
        "z": "739bcde6ba837444",
        "name": "",
        "url": "/export-csv",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 620,
        "wires": [["fn_query_csv"]]
    },
    {
        "id": "fn_query_csv",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Query CSV Export",
        "func": "const range = (msg.req.query.range || '24h');\nconst intervals = { '1h':'1 hour', '6h':'6 hours', '24h':'24 hours', '7d':'7 days' };\nconst since = intervals[range] || '24 hours';\nmsg._csvRange = range;\n\nmsg.topic = `\n  SELECT ts, temp, tds, turbidity, species\n  FROM sensor_readings\n  WHERE ts >= datetime('now','-${since}')\n  ORDER BY ts ASC;\n`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 620,
        "wires": [["sqlite_read_csv"]]
    },
    {
        "id": "sqlite_read_csv",
        "type": "sqlite",
        "z": "739bcde6ba837444",
        "mydb": "/data/aquarium.db",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "Read for CSV",
        "x": 580,
        "y": 620,
        "wires": [["fn_build_csv"]]
    },
    {
        "id": "fn_build_csv",
        "type": "function",
        "z": "739bcde6ba837444",
        "name": "Build CSV",
        "func": "const rows = msg.payload || [];\nlet csv = 'timestamp,temperature_C,tds_ppm,turbidity_NTU,species\\n';\nrows.forEach(r => {\n  csv += `${r.ts},${r.temp},${r.tds},${r.turbidity},${r.species}\\n`;\n});\nmsg.payload = csv;\nmsg.headers = {\n  'Access-Control-Allow-Origin': '*',\n  'Content-Type': 'text/csv',\n  'Content-Disposition': `attachment; filename=\"aquarium_${msg._csvRange || '24h'}.csv\"`\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 620,
        "wires": [["resp_csv"]]
    },
    {
        "id": "resp_csv",
        "type": "http response",
        "z": "739bcde6ba837444",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 620,
        "wires": []
    }
]
